# Kernel config fragment to enable USB modem and Wi-Fi XR819 modules
CONFIG_USB=y
CONFIG_USB_COMMON=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_OPTION=m
CONFIG_USB_SERIAL_GENERIC=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_WWAN=m
CONFIG_USB_NET_RNDIS_HOST=m
CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_CDC_NCM=m
CONFIG_USB_SERIAL_CDC_ACM=m
CONFIG_USB_STORAGE=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_WLAN_XR819=m
